body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #00c6ff, #0072ff); /* Градиент от синего к фиолетовому */
    color: white;
    padding: 20px;
}

button {
    background-color: #0072ff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
}

button:hover {
    background-color: #0056b3;
}

h1 {
    font-size: 24px;
    text-align: center;
}

input[type="number"] {
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
}

#loading {
    color: yellow;
    font-size: 18px;
    text-align: center;
}
